<div id="<%= dom_id customer %>">
  <p>
    <strong>Nome:</strong>
    <%= customer.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Aniversario:</strong>
    <%= customer.aniversario %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= customer.obs %>
  </p>

</div>
